<!-- /templates/blog.liquid -->
<style>
		.grid__item {
			padding-left: 15px;
		}
		
		.tags--article, hr, .rss-link {
			display: none;
		}
		
		.article {
			margin-bottom: 20px;
		}
		
		.section-header > h1 {
			padding-left: 0;
			padding-top: 20px;
		}
		
		h3 {
			font-size: 20px;
			font-weight: bold;
			padding-top: 0;
			padding-bottom: 0;
		}
		
		a.text-link {
			font-weight: bold;
			font-size: 15px;
		}
		
</style>


{% paginate blog.articles by 5 %}

<div class="grid">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
        <a href="{{ shop.url }}{{ blog.url }}.atom" class="icon-fallback-text rss-link">
          <span class="icon icon-rss" aria-hidden="true"></span>
          <span class="fallback-text">RSS</span>
        </a>
      </h1>
      <hr class="hr--small">
      <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '709796692516135');
fbq('track', 'PageView');
fbq('track', 'ViewContent');  
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=709796692516135&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
    </header>

    {% for article in blog.articles %}

      {% assign article_content = article.excerpt_or_content %}
      {% assign featured_image_src = '' %}

      {% if article.image %}
        {% assign featured_image_src = article | img_url: '1024x1024' %}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign featured_image_src = featured_image_src[1] | split: '"' | first %}
      {% endif %}

      <article class="article grid">

        {% unless featured_image_src == blank %}
          <div class="grid__item">
            <a class="article__featured-image" href="{{ article.url }}">
              {{ featured_image_src | img_tag: article.title }}
            </a>
          </div>
        {% endunless %}

        <!-- <div class="grid__item large--two-tenths push--large--one-tenth">
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" class="date">{{ article.published_at | date: format: 'month_day_year' }}</time>
          <hr class="hr--small hr--left small--hide">
        </div> -->
        <div class="grid__item large--four-sixths push--large--one-sixth">
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <div class="rte rte--indented-images">
            {{ article_content | strip_html | truncatewords: 120 }}
          </div>

          <p>
            <a href="{{ article.url }}" class="text-link">{{ 'blogs.article.read_more' | t }} <span class="icon icon-arrow-right" aria-hidden="true"></span></a>
          </p>

          {% if article.tags.size > 0 %}
            <ul class="tags tags--article inline-list">
              {% include 'tags-article' %}
            </ul>
          {% endif %}
        </div>
      </article>

      {% unless forloop.last %}<hr class="hr--clear">{% endunless %}

    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
      </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}
